# Part 3 - Text analysis

# 3.a Computing PMI

In this assessment you are tasked to discover strong associations between concepts in Airbnb reviews. The starter code we provide in this notebook is for orientation only. The below imports are enough to implement a valid answer.

### Imports, data loading and helper functions

We first connect our google drive, import pandas, numpy and some useful nltk and collections modules, then load the dataframe and define a function for printing the current time, useful to log our progress in some of the tasks.

In [ ]:
import pandas as pd
from nltk.tag import pos_tag
import re
from collections import defaultdict,Counter
from nltk.stem import WordNetLemmatizer
from datetime import datetime
from tqdm import tqdm
import numpy as np
import os
import string
tqdm.pandas()

/usr/local/lib/python3.7/dist-packages/tqdm/std.py:658: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [ ]:
# nltk imports, note that these outputs may be different if you are using colab or local jupyter notebooks
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize,sent_tokenize

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

In [ ]:
# load stopwords
sw = set(stopwords.words('english'))

In [ ]:
p = ""
df = pd.read_csv(os.path.join(p,'reviews.csv'))
# deal with empty reviews
df.comments = df.comments.fillna('')

In [ ]:
df.head()

   listing_id  ...                                           comments
0        2818  ...  Daniel is really cool. The place was nice and ...
1        2818  ...  Daniel is the most amazing host! His place is ...
2        2818  ...  We had such a great time in Amsterdam. Daniel ...
3        2818  ...  Very professional operation. Room is very clea...
4        2818  ...  Daniel is highly recommended.  He provided all...

[5 rows x 6 columns]

In [ ]:
df.shape

(452143, 6)

### 3.a1 - Process reviews

What to implement: A `function process_reviews(df)` that will take as input the original dataframe and will return it with three additional columns: `tokenized`, `tagged` and `lower_tagged`.

In [ ]:
def process_reviews(df):
  '''
  1- tokenization of reviews save it under tokenized column

  2-  divide senteces as words, remove punctuation and post tag all of them

  3- take all words in tagged and make them lower

  return:
    dataframe with new columns
  '''
  tokenized = df.comments.apply(sent_tokenize) # tokenization of reviews 
  df["tokenized"] = tokenized

  tagged = []

  for comment in df.comments:
    tagged.append(pos_tag(comment.translate(str.maketrans('', '', string.punctuation)).split())) # divide senteces as words, remove punctuation and post tag all of them

  df["tagged"] = tagged

  lower_tagged = []

  for tag in df.tagged:   # take all words in tagged and make them lower
    arr = []
    for word in tag:
      wrd = (word[0].lower(), word[1])
      arr.append(wrd)
    lower_tagged.append(arr) 

  df["lower_tagged"] = lower_tagged

  return df

In [ ]:
df = process_reviews(df)

In [ ]:
df.head(10)

   listing_id  ...                                       lower_tagged
0        2818  ...  [(daniel, NNP), (is, VBZ), (really, RB), (cool...
1        2818  ...  [(daniel, NNP), (is, VBZ), (the, DT), (most, R...
2        2818  ...  [(we, PRP), (had, VBD), (such, JJ), (a, DT), (...
3        2818  ...  [(very, RB), (professional, JJ), (operation, N...
4        2818  ...  [(daniel, NNP), (is, VBZ), (highly, RB), (reco...
5        2818  ...  [(daniel, NNP), (was, VBD), (a, DT), (great, J...
6        2818  ...  [(daniele, NNP), (is, VBZ), (an, DT), (amazing...
7        2818  ...  [(you, PRP), (can´t, VBP), (have, VB), (a, DT)...
8        2818  ...  [(daniel, NNP), (was, VBD), (a, DT), (fantasti...
9        2818  ...  [(daniel, NNP), (was, VBD), (great, JJ), (he, ...

[10 rows x 9 columns]

### 3.a2 - Create a vocabulary

What to implement: A function `get_vocab(df)` which takes as input the DataFrame generated in step 1.c, and returns two lists, one for the 1,000 most frequent center words (nouns) and one for the 1,000 most frequent context words (either verbs or adjectives).

In [ ]:
def get_vocab(df):
  '''
  take lower than one bu one and put all in an array, calculate frequency of each word, take most common words
  if tag start with N, it is a center word, if tag start with J or N, it is a context word

  take most used 1000 center word, take most used 1000 context word

  return:
      most used 1000 center word and most used 1000 context word
  

  '''
  vocab = []

  for sentence in df.lower_tagged:  #  take lower tag one bu one and put all in an array
    vocab.extend(sentence)
  
  freq = Counter(vocab)  # calculate frequency of each word

  most_common_words = freq.most_common() # take most common words

  

  most_common_nouns_arr = []     # if tag start with N, it is a center word
  for i in most_common_words:
    if i[0][1][0] == "N":
      most_common_nouns_arr.append(i)

  most_common_context = []    # if tag start with J or N, it is a context word
  for i in most_common_words:
    if i[0][1][0] == "J" or i[0][1][0] == "V":
      most_common_context.append(i)

  center = []
  for i in most_common_nouns_arr:  # take most used 1000 center word
    center.append(i[0][0])
    if len(list(set(center))) == 1000:
      break

  cent_vocab = list(set(center))
  

  context = []
  for i in most_common_context:  # take most used 1000 context word
    context.append(i[0][0])
    if len(list(set(context))) == 1000:
      break

  cont_vocab = list(set(context))




  return cent_vocab, cont_vocab

In [ ]:
cent_vocab, cont_vocab = get_vocab(df)

### 3.a3 Count co-occurrences between center and context words

What to implement: A function `get_coocs(df, center_vocab, context_vocab)` which takes as input the DataFrame generated in step 1, and the lists generated in step 2 and returns a dictionary of dictionaries, of the form in the example above. It is up to you how you define context (full review? per sentence? a sliding window of fixed size?), and how to deal with exceptional cases (center words occurring more than once, center and context words being part of your vocabulary because they are frequent both as a noun and as a verb, etc). Use comments in your code to justify your approach.

In [ ]:
df.head(5)

   listing_id  ...                                       lower_tagged
0        2818  ...  [(daniel, NNP), (is, VBZ), (really, RB), (cool...
1        2818  ...  [(daniel, NNP), (is, VBZ), (the, DT), (most, R...
2        2818  ...  [(we, PRP), (had, VBD), (such, JJ), (a, DT), (...
3        2818  ...  [(very, RB), (professional, JJ), (operation, N...
4        2818  ...  [(daniel, NNP), (is, VBZ), (highly, RB), (reco...

[5 rows x 9 columns]

In [ ]:
df_test = df.head(10)

In [ ]:
def get_coos(df, cent_vocab, cont_vocab):

  sentences = []
  for sentence in df.tokenized:
    for i in sentence:
     sentences.extend([i.translate(str.maketrans('', '', string.punctuation)).lower()]) # take all sentences one by one and remove all punctuations and also make all sentences lower
 
  coocs = {}   # create coocs dict, we will return this as a result

  for sentence in sentences:  # take all sentences
    for vocab in cent_vocab:  # take all senter words
      dictt = {}
      if vocab in sentence.split():   # split sentences to make it list and search center words in this list 
        for cont in cont_vocab:    # if there is center words in the list then now search for context words
          if cont in  sentence.split():
            number = sentence.count(cont) #. if context words have found, count how many ?
            dictt.update({cont:number})   # create dict key: context word name, value : number of occurance

        if vocab in list(coocs.keys()):  # check is there dictionary before with same key if there is append disctionaries
          dict_previous = coocs.get(vocab)
          coocs.update({vocab: {k: dict_previous.get(k, 0) + dictt.get(k, 0) for k in set(dict_previous) | set(dictt)}})
        else:
          coocs.update({vocab:dictt})   # put the dict above inside of coocs list as a value, the key is center word
  return coocs

In [ ]:
len(df)

452143

In [ ]:
import time
start = time.process_time()
coocs = get_coos(df, cent_vocab, cont_vocab)
print(time.process_time() - start)

11475.934205631

### 3.a4 Convert co-occurrence dictionary to 1000x1000 dataframe
What to implement: A function called `cooc_dict2df(cooc_dict)`, which takes as input the dictionary of dictionaries generated in step 3 and returns a DataFrame where each row corresponds to one center word, and each column corresponds to one context word, and cells are their corresponding co-occurrence value. Some (x,y) pairs will never co-occur, you should have a 0 value for those cases.

In [ ]:
def cooc_dict2df(coocs):
  '''
  1- take all keys and they are center words

  2- take all keys in values of coocs and they are context words

  3- create matrix with center words as an index, context words as feature

  4- in coocs dict, fill all values in the dataframe one by one

  return: 
  1000 * 1000 occurance matrix
  '''

  center_w = list(coocs.keys()) # take all keys and they are center words

  context_w = set()
  for keys, values in coocs.items():  # # take all keys in values of coocs and they are context words
    for k,v in values.items():
      context_w.add(k)


  coocdf = pd.DataFrame(0, index= center_w, columns= context_w)   # create matrix with center words as an index, context words as feature
  for keys, values in coocs.items():  # in coocs dict, fill all values in the dataframe one by one
    for k, v in values.items():
      coocdf.at[keys, k] = v
  return coocdf

In [ ]:
coocdf = cooc_dict2df(coocs)
coocdf.shape

(1000, 1000)

In [ ]:
coocdf.to_csv("coocdf.csv")

In [ ]:
coocdf

          sleep  petite  recommend  climbing  ...  nest  late  suggested  thats
daniel        2       1         67         0  ...     1    13          3      3
really      363       2       3688        14  ...    15   509         54    148
cool         46       2        195         3  ...     2    37         14     41
was        1568       4       4339        78  ...    42  4008        235    289
place       933      25      19239        37  ...    22   392         77    313
...         ...     ...        ...       ...  ...   ...   ...        ...    ...
martijn       1       1         31         0  ...     0     8          0      0
mirjam        2       1         38         0  ...     0    10          2      2
henk          0       3         19         0  ...     0     6          0      1
jeroen        0       0         28         0  ...     1    10          0      1
matthijs      1       0         31         0  ...     0     7          1      1

[1000 rows x 1000 columns]

### 3.a5 Raw co-occurrences to PMI scores

What to implement: A function `cooc2pmi(df)` that takes as input the DataFrame generated in step 4, and returns a new DataFrame with the same rows and columns, but with PMI scores instead of raw co-occurrence counts.

In [ ]:
def cooc2pmi(df):
  '''
  at first, find common words in both context and center words. we will make them 0 pmi because they can effect realted word list.

  then calculate the pmi using formula which was given to us in the assignment.

  return:
  matrix with pmi values
  '''

  index_list = coocdf.index.to_list() # take all center_words
  feature_list = coocdf.columns.to_list() # take all context words
  common_words = set(index_list) - (set(index_list) - set(feature_list)) # find comomon words

  for i in common_words:  # to calculate pmi if there is common words in both index and feature make this value 0 because it will effect pmi score
    coocdf.at[i, i] = 0

  positive=True     # CALCULATE PMI
  col_totals = df.sum(axis=0)
  total = col_totals.sum()
  row_totals = df.sum(axis=1)
  expected = np.outer(row_totals, col_totals) / total # divide total to find pmi
  pmidf = df / expected
  
  return pmidf

In [ ]:
pmidf = cooc2pmi(coocdf)
pmidf.shape

(1000, 1000)

In [ ]:
pmidf.head(10)

                 sleep    petite  recommend  ...      late  suggested     thats
daniel        0.244641  0.309659   0.875782  ...  1.184395   3.177977  1.055585
really        1.217735  0.016985   1.322086  ...  1.271798   1.568811  1.428174
cool          1.298699  0.142944   0.588313  ...  0.778049   3.423022  3.329722
was           1.338465  0.008644   0.395798  ...  2.548256   1.737239  0.709630
place         1.649184  0.111870   3.634064  ...  0.516093   1.178715  1.591494
nice          1.091456  0.019643   0.562446  ...  0.963204   1.299130  1.086225
clean         0.786290  0.023510   0.407221  ...  0.278990   0.294898  0.667857
very          1.189708  0.005302   0.498354  ...  1.818272   1.070225  0.780253
quiet         5.113943  0.013936   0.501778  ...  0.553514   0.095346  2.185207
neighborhood  1.152834  0.000000   0.328196  ...  0.583620   1.013984  1.943083

[10 rows x 1000 columns]

### 3.a6 Retrieve top-k context words, given a center word

What to implement: A function `topk(df, center_word, N=10)` that takes as input: (1) the DataFrame generated in step 5, (2) a `center_word` (a string like `‘towels’`), and (3) an optional named argument called `N` with default value of 10; and returns a list of `N` strings, in order of their PMI score with the `center_word`. You do not need to handle cases for which the word `center_word` is not found in `df`.

In [ ]:
def topk(df, center_word, N=10):
  '''
  filter the words, select the word that what we want to see. I will be a single row.

  take a transpoze, sort is descending take top N'th word which is related to our selected word

  return:
  top related words
  '''
  top_words = df[df.index == center_word].T.sort_values(center_word, ascending=False).head(N).index.to_list()
  return top_words

In [ ]:
topk(pmidf, 'quick')

['respond',
 'reply',
 'responding',
 'answer',
 'responds',
 'efficient',
 'answering',
 'communicate',
 'ride',
 'thorough']

In [ ]:
topk(pmidf, 'hotel',5)

['compared', 'cheaper', 'decided', 'expensive', 'glad']

In [ ]:
topk(pmidf, 'coffee')

['tea',
 'complimentary',
 'cheese',
 'fresh',
 'stocked',
 'shops',
 'italian',
 'wine',
 'delicious',
 'included']